.Feature {
    width: 100%;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    gap: 10px;
}

.FeatureItem {
    display: flex;
    position: relative;
    color: white;
    overflow: hidden;
    border-radius: 15px;
}

.FeatureImage {
    width: 100%;
    object-fit: cover;
}

.FeatureTitles {
    color: white;
    position: absolute;
    bottom: 1px;
    left: 10px;
}

.FeatureTitles>h1 {
    font-size: 30px;
}