.allrezervariItem {
  border-radius: 3px;
  padding: 10px;
  margin: 20px;
  margin-left: 350px;
  margin-right: 350px;    
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.allrezervariTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.allrezervariDesc {
  color: #666;
  margin-bottom: 10px;
}

.allrezervariMax {
  color: #888;
  margin-bottom: 10px;
}

.allrezervariPrice {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.allrezervariSelectRoom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.allrezervaricamera {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.allrezervaricamera label {
  margin-right: 5px;
}

.unavailableDate {
  margin-top: 10px;
}

.unavailableDate div {
  margin-bottom: 5px;
}

.noReservationsMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 100vh;
  color: rebeccapurple;
}
