.titlucontact{
    margin-top: 30px;
    text-align: center;
    color: rebeccapurple;
    border: 2px solid rebeccapurple;
    border-radius: 3px;
    padding: 10px;
    margin: 20px;
    margin-left: 350px;
    margin-right: 350px;    
}

.contact{
    border: 2px solid rebeccapurple;
    border-radius: 3px;
    padding: 20px;
    margin: 20px;
    margin-left: 350px;
    margin-right: 350px;
}